<!DOCTYPE html>
<html>
    <head>
        <title>CyberBreach Labs - Account</title>
    </head>
    <body>
        <h1>Account</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/account">Account</a>
            <a href="/labs">Labs</a>
        </nav>
        
<!--------------------------------------------------------------------------------------------------------------------------------------------->
        {% if user %}
            <!-- If user is logged in, display username/email and link to logout -->
            <h2>Welcome!</h2>
            <p>Username: {{ user['username'] }}<br>
            Email: {{ user['email'] }}</p>
            <a href="/logout">Logout</a> 

        {% else %}  
                <!-- If user is not logged in, create an account or login -->
            <h2>Create an Account</h2>
            <form method="POST">
                Username: <input type="text" name="username" placeholder="username" minlength="2" maxlength="15" required><br>
                Email:    <input type="email" name="email" placeholder="email" maxlength="80" required><br>
                Password: <input type="password" name="password" placeholder="password" minlength="8" maxlength="100" required><br>
                <button type="submit" name="action" value="register">Register Account</button><br> 
            </form>

            <h2>Login</h2>
            <form method="POST">
                Email:    <input type="email" name="email" placeholder="email" required><br>
                Password: <input type="password" name="password" placeholder="password" required><br>
                <button type="submit" name="action" value="login">Login</button><br>
            </form>
        {% endif %}

<!--------------------------------------------------------------------------------------------------------------------------------------------->
        <!-- Jinja2: displays pending Flash message -->
        {% with messages = get_flashed_messages() %}  <!-- calls built-in function, stores ,list of messages inside variable, message -->
            {% if messages %} <!-- checks if there is at least one message to show -->
                {% for message in messages %} <!-- loop for each message -->
                    <p style="color: red;">{{ message }}</p> <!-- Output the message in red -->
                <!-- closing blocks -->
                {% endfor %}
            {% endif %}
        {% endwith %}

    </body>

</html>
