/* Josephine Livingstone - Honours Project */
/* Lab Designs*/
/** Colour Palette: 3F7CAC  95AFBA  BDC4A7  D5E1A3  E2F89C **/

/* body styling */

html, body {
    height: 100%;
    margin:0;
}

body {
    background-color: #3F7CAC;
    border: 15px double #D5E1A3;
}

h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: "lucainda handwriting", cursive;
}

/* image placement */

.bookLeft {
    width: 250px;
    height: auto;
    position:fixed;
    top: 25px;
    z-index: 30px;
    left: 25px;
    border: 8px solid #D5E1A3;
}

.bookRight {
    width: 250px;
    height: auto;
    position:fixed;
    top: 25px;
    z-index: 30px;
    right: 25px;
    border: 8px solid #D5E1A3;
}

/* form styling */

.formBox {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    background-color: #D5E1A3;
    border: 1px solid #BDC4A7;
    border-radius: 8px;
    padding: 30px;
    flex: 1;
    max-width:400px;
    box-shadow: 0 6px 0 #BDC4A7, 0 8px 10px rgba(0,0,0, 0.1);

}

h3 {
    text-align: center;
    margin-bottom:20px;
    font-size: 30px;
}

.form input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #95AFBA;
}
/* button styling */

button {
    padding: 12px;
    background-color: white;
    border-radius: 25px;
    border-color: #BDC4A7;
    cursor: pointer;
    margin-top: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 6px 0 #BDC4A7;
}

.form button{
    width: 100%;
}

.form button:active {
    transform: translateY(4px);
    transition: all 0.2s ease;   
}

/* banner styling */

.banner {  
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    background-color: #95AFBA;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}

/* display box styling */

.account {  
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 45%;
    background-color: #D5E1A3;
    padding: 20px 0;
    font-size: 15px;
    border-radius: 10px;
    border: 8px double #99c8ee;       
}

/* flash message styling */

.errorMessage {
    color: red;
}

.successMessage {
    color:green;
}

/* table styling */

.users {
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 15px;
    margin: 0 auto;
}

.users th {
    background-color: #D5E1A3;
    padding: 12px;
    text-align: left;
}

.users td {
    padding: 10px 12px;
    border-bottom: 1px solid #BDC4A7;
    background-color:#95AFBA;
}

